.menuContainer {
  @apply absolute px-5 py-1 flex justify-between w-1/4 top-10 left-1/2 rounded-md;
  transform: translateX(-50%);
  background-color: theme("colors.background1");
  box-shadow: theme("colors.shadow1");
  border: 1px solid theme("colors.border1");
  .iconWrapper {
    @apply cursor-pointer h-10 w-10 flex justify-center items-center rounded-md;
    &:hover,
    &:active {
      background-color: theme("colors.text2");
    }
    .icon {
      font-size: 20px;
      color: theme("colors.text1");
    }
  }
}
